h1 {
  color: crimson;
}
h1 span {
  font-size: 50px;
}

.success {
  position: fixed;
  left: 50%;
  padding: 5px;
  background-color: forestgreen;
  border: 1px solid black;
  transform: translatex(-50%);
  z-index: -1;
}

.alert {
  position: fixed;
  left: 50%;
  padding: 5px;
  background-color: crimson;
  border: 1px solid black;
  transform: translatex(50%);
  z-index: -1;
}

h2 {
  color: aquamarine;
}

h3 {
  color: blueviolet;
}

.home {
  color: brown;
}
.home__bin {
  color: cornflowerblue;
}
.home__bin__content {
  color: darksalmon;
}
