h1{
  color: crimson;
  span{
    font-size: 50px;
  }
}
.success {
  padding: 5px;
  background-color: forestgreen;
  border: 1px solid black;
}
.alert {
  padding: 5px;
  background-color: crimson;
  border: 1px solid black;
}

@import './kitas';